# .gitignore

# Subdirectories
htmlcov*
outputs/
plots/
__pycache__/
goalie.egg-info/
.cache/

# Specific files
.coverage

# File extensions
*.ipynb*
*.jpg
*.msh
*.patch
*.pdf
*.png
*.pvd
*.swp
*.vtu
*:Zone.Identifier
