# .gitignore

# Subdirectories
htmlcov*
outputs/
plots/
test_adjoint/demos
__pycache__/
goalie.egg-info/

# Specific files
.coverage

# File extensions
*.ipynb*
*.jpg
*.msh
*.patch
*.pdf
*.png
*.pvd
*.swp
*.vtu
*:Zone.Identifier
